<div class="toolbar-card">
  <mat-form-field appearance="outline" class="search-field small">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search..." />
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="startCreate()">
      <mat-icon>add</mat-icon>
      Add manufacturer
    </button>
  </div>
</div>

<app-data-table
  [dataSource]="paginatedManufacturers"
  [displayedColumns]="['name','email','country','address','phone','fax']"
  [columnLabels]="{
    name: 'Name',
    country: 'Country',
    address: 'Address',
    phone: 'Phone',
    fax: 'Fax',
    email: 'Email'
  }"
  [showInfo]="false"
  [showEdit]="true"
  [showDelete]="true"
  (edit)="editManufacturer($event)"
  (delete)="deleteManufacturer($event.id)">
</app-data-table>

<div class="paginator-container">
  <app-minimal-paginator
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (previous)="previousPage()"
    (next)="nextPage()">
  </app-minimal-paginator>
</div>
