.mat-mdc-table {
  border: 1px solid #e0e0e0;      
  border-radius: 6px;
  overflow: hidden;
  box-shadow: none !important;    
}

.mat-mdc-header-cell {
  background-color: #f9f9f9;     
  color: gray;
  border-bottom: 1px solid #e0e0e0 !important;
  padding: 10px 12px;
}

.mat-mdc-cell {
  border-bottom: 1px solid #e0e0e0 !important;
  color: #444;
  padding: 8px 12px;
}

.mat-mdc-row:hover {
  background-color: #fafafa;      
}

.paginator-container {
  display: flex;
  justify-content: flex-end; 
  margin-top: 8px;
}

.action-icons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.icon-btn {
  color: #2e6f6a !important;        
  background-color: transparent !important; 
  border: none !important;          
  transition: color 0.2s ease, transform 0.2s ease;
}

.icon-btn:hover {
  color: #245854 !important;          
  transform: scale(1.15);
}

.icon-btn:active {
  color: #1f4a47 !important;        
  transform: scale(1.05);
}

.small-btn {
  font-size: 12px;
  padding: 4px 10px;
  min-width: unset;
  line-height: 22px;
  border-radius: 4px;
  text-transform: none;

  background-color: #fff !important;      
  color: #2e6f6a !important;              
  border: 2px solid #2e6f6a !important;   
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.small-btn:hover {
  background-color: #e6f4f3 !important;   
  color: #245854 !important;
  transform: scale(1.05);
}

.small-btn:active {
  background-color: #cce9e6 !important; 
  color: #1f4a47 !important;
  transform: scale(0.98);
}


::ng-deep .mat-mdc-tab-group .mat-mdc-tab-header {
  border-bottom: 2px solid #2e6f6a !important;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #2e6f6a !important;
}
