<div *ngIf="vehicle" class="vehicle-card">
  <div class="vehicle-image">
    <img *ngIf="vehicle.imagePath" [src]="getImageUrl(vehicle.imagePath)" />
  </div>

  <div class="vehicle-info">
    <div class="info-grid">
      <div>
        <mat-icon *ngIf="vehicleType === 'cars'">electric_car</mat-icon>
        <mat-icon *ngIf="vehicleType === 'bikes'">electric_bike</mat-icon>
        <mat-icon *ngIf="vehicleType === 'scooters'">electric_scooter</mat-icon>
        {{ vehicle.manufacturer.name }} {{ vehicle.model }}
      </div>
      <div>
        <mat-icon>euro</mat-icon> {{ vehicle.purchasePrice }} €
      </div>
      <div>
        <mat-icon *ngIf="vehicle.state === VehicleState.AVAILABLE">verified</mat-icon>
        <mat-icon *ngIf="vehicle.state === VehicleState.RENTED">shopping_cart</mat-icon>
        <mat-icon *ngIf="vehicle.state === VehicleState.BROKEN">build</mat-icon>

        <span *ngIf="vehicle.state === VehicleState.AVAILABLE">Available</span>
        <span *ngIf="vehicle.state === VehicleState.RENTED">Rented</span>
        <span *ngIf="vehicle.state === VehicleState.BROKEN">Broken</span>
      </div>

      <div>
        <mat-icon>location_on</mat-icon>
        {{ vehicle.currentLatitude }}, {{ vehicle.currentLongitude }}
      </div>

      <div *ngIf="car">
        <mat-icon>event</mat-icon> {{ car.purchaseDate | date:'dd-MM-yyyy' }}
      </div>
      <div *ngIf="car">
        <mat-icon>description</mat-icon> {{ car.description }}
      </div>

      <div *ngIf="bike">
        <mat-icon>battery_charging_full</mat-icon> {{ bike.autonomy }} km
      </div>

      <div *ngIf="scooter">
        <mat-icon>speed</mat-icon> {{ scooter.maxSpeed }} km/h
      </div>
    </div>
  </div>
</div>

<div class="toolbar-card">
  <mat-form-field appearance="outline" class="search-field small">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      (keyup)="onSearch($event)"
      placeholder="Search..."
    />
  </mat-form-field>

  <div class="actions" *ngIf="activeTabIndex === 0">
    <button mat-raised-button color="primary" (click)="openAddMalfunctionDialog()"
      class="mat-mdc-raised-button mat-primary mdc-button ...">
      <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
      <mat-icon class="mat-icon">add</mat-icon>
      <span class="mdc-button__label">Add malfunction</span>
    </button>
  </div>
</div>

<mat-tab-group [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon malf-icon">build</mat-icon>
      <span class="tab-label">Malfunctions</span>
    </ng-template>

    <div class="tab-content">
      <app-data-table
        [dataSource]="malfunctions.slice((currentMalfunctionPage-1)*pageSize, currentMalfunctionPage*pageSize)"
        [displayedColumns]="['description','dateTime']"
        [columnLabels]="{
          description: 'Description',
          dateTime: 'Date and time'
        }"
        [showDelete]="true"
        [showEdit]="true"
        [showInfo]="false"
        (edit)="onEditMalfunction($event)"
        (delete)="deleteMalfunction($event.id)">
      </app-data-table>

      <app-minimal-paginator
        [currentPage]="currentMalfunctionPage"
        [totalPages]="malfunctionTotalPages"
        (previous)="previousMalfunctionPage()"
        (next)="nextMalfunctionPage()">
      </app-minimal-paginator>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon rental-icon">assignment</mat-icon>
      <span class="tab-label">Rentals</span>
    </ng-template>

    <div class="tab-content">
    <app-data-table
      [dataSource]="rentals.slice((currentRentalPage-1)*pageSize, currentRentalPage*pageSize)"
      [displayedColumns]="[
        'client',
        'startDateTime',
        'endDateTime',
        'duration',
        'price',
        'startLatitude',
        'startLongitude',
        'endLatitude',
        'endLongitude'
      ]"
      [columnLabels]="{
        client: 'Client',
        startDateTime: 'Start time',
        endDateTime: 'End time',
        duration: 'Duration(h)',
        price: 'Price(KM)',
        startLatitude: 'Start latitude',
        startLongitude: 'Start longitude',
        endLatitude: 'End latitude',
        endLongitude: 'End longitude'
      }"
      [showInfo]="false"
      [showEdit]="false"
      [showDelete]="false">
    </app-data-table>

      <app-minimal-paginator
        [currentPage]="currentRentalPage"
        [totalPages]="rentalTotalPages"
        (previous)="previousRentalPage()"
        (next)="nextRentalPage()">
      </app-minimal-paginator>
    </div>
  </mat-tab>
</mat-tab-group>

