<div class="toolbar-card">
  <mat-form-field appearance="outline" class="search-field small">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search..." />
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="startCreate(activeTab)">
      <mat-icon>add</mat-icon>
      Add vehicle
    </button>

    <input
      #csvFile
      type="file"
      accept=".csv"
      (change)="onFileSelected($event, activeTab)"
      hidden
    />
    <button mat-button class="csv-btn" (click)="csvFile.click()">
      <mat-icon>upload</mat-icon>
      Upload CSV
    </button>
  </div>
</div>

<mat-tab-group [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Cars">
    <app-data-table
      [dataSource]="carsDS.data"
      [displayedColumns]="['uniqueId','manufacturer','model','purchasePrice','purchaseDate','rented','hasMalfunctions','description']"
      [columnLabels]="{
        uniqueId: 'Unique ID',
        manufacturer: 'Manufacturer',
        model: 'Model',
        purchasePrice: 'Price',
        purchaseDate: 'Purchase Date',
        rented: 'Rented',
        hasMalfunctions: 'Malfunctions',
        description: 'Description'
      }"
      [currentPage]="currentCarPage"
      [totalPages]="carTotalPages"
      (previous)="paginatorCars.previousPage()"
      (next)="paginatorCars.nextPage()"
      (edit)="onEditCar($event)"
      (delete)="deleteCar($event.id)">
    </app-data-table>
  </mat-tab>

  <mat-tab label="Bikes">
    <app-data-table
      [dataSource]="bikesDS.data"
      [displayedColumns]="['uniqueId','manufacturer','model','autonomy','purchasePrice','rented','hasMalfunctions']"
      [columnLabels]="{
        uniqueId: 'Unique ID',
        manufacturer: 'Manufacturer',
        model: 'Model',
        autonomy: 'Autonomy',
        purchasePrice: 'Price',
        rented: 'Rented',
        hasMalfunctions: 'Malfunctions'
      }"
      [currentPage]="currentBikePage"
      [totalPages]="bikeTotalPages"
      (previous)="paginatorBikes.previousPage()"
      (next)="paginatorBikes.nextPage()"
      (edit)="onEditBike($event)"
      (delete)="deleteBike($event.id)">
    </app-data-table>
  </mat-tab>

  <mat-tab label="Scooters">
    <app-data-table
      [dataSource]="scootersDS.data"
      [displayedColumns]="['uniqueId','manufacturer','model','maxSpeed','purchasePrice','rented','hasMalfunctions']"
      [columnLabels]="{
        uniqueId: 'Unique ID',
        manufacturer: 'Manufacturer',
        model: 'Model',
        maxSpeed: 'Max Speed',
        purchasePrice: 'Price',
        rented: 'Rented',
        hasMalfunctions: 'Malfunctions'
      }"
      [currentPage]="currentScooterPage"
      [totalPages]="scooterTotalPages"
      (previous)="paginatorScooters.previousPage()"
      (next)="paginatorScooters.nextPage()"
      (edit)="onEditScooter($event)"
      (delete)="deleteScooter($event.id)">
    </app-data-table>
  </mat-tab>
</mat-tab-group>
