<div class="toolbar-card">
  <mat-form-field appearance="outline" class="search-field small">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search..." />
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="startCreate(activeTab)">
      <mat-icon>add</mat-icon>
      Add vehicle
    </button>

    <input
      #csvFile
      type="file"
      accept=".csv"
      (change)="onFileSelected($event)"
      hidden
    />
    <button mat-button class="csv-btn" (click)="csvFile.click()">
      <mat-icon>upload</mat-icon>
      Upload CSV
    </button>
  </div>
</div>

<mat-tab-group [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">directions_car</mat-icon>
      <span class="tab-label">Cars</span>
    </ng-template>

    <app-data-table
      [dataSource]="carsDS"
      [displayedColumns]="[
        'uniqueId','manufacturer','model',
        'purchasePrice','purchaseDate',
        'state','description'
      ]"
      [columnLabels]="{
        uniqueId: 'ID',
        manufacturer: 'Manufacturer',
        model: 'Model',
        purchasePrice: 'Purchase price',
        purchaseDate: 'Purchase date',
        state: 'State',
        description: 'Description'
      }"
      [showInfo]="true"
      [showEdit]="true"
      [showDelete]="true"
      (info)="onInfo('cars', $event.id)"
      (edit)="onEditCar($event)"
      (delete)="deleteCar($event.id)">
    </app-data-table>

    <app-minimal-paginator
      [currentPage]="currentCarPage"
      [totalPages]="carTotalPages"
      (previous)="previousCarPage()"
      (next)="nextCarPage()">
    </app-minimal-paginator>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">pedal_bike</mat-icon>
      <span class="tab-label">Bikes</span>
    </ng-template>

    <app-data-table
      [dataSource]="bikesDS"
      [displayedColumns]="[
        'uniqueId','manufacturer','model',
        'purchasePrice','autonomy',
        'state'
      ]"
      [columnLabels]="{
        uniqueId: 'ID',
        manufacturer: 'Manufacturer',
        model: 'Model',
        autonomy: 'Autonomy',
        purchasePrice: 'Purchase price',
        state: 'State'
      }"
      [showInfo]="true"
      [showEdit]="true"
      [showDelete]="true"
      (info)="onInfo('bikes', $event.id)"
      (edit)="onEditBike($event)"
      (delete)="deleteBike($event.id)">
    </app-data-table>

    <app-minimal-paginator
      [currentPage]="currentBikePage"
      [totalPages]="bikeTotalPages"
      (previous)="previousBikePage()"
      (next)="nextBikePage()">
    </app-minimal-paginator>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">electric_scooter</mat-icon>
      <span class="tab-label">Scooters</span>
    </ng-template>

    <app-data-table
      [dataSource]="scootersDS"
      [displayedColumns]="[
        'uniqueId','manufacturer','model',
        'purchasePrice','maxSpeed',
        'state'
      ]"
      [columnLabels]="{
        uniqueId: 'ID',
        manufacturer: 'Manufacturer',
        model: 'Model',
        maxSpeed: 'Max speed',
        purchasePrice: 'Purchase price',
        state: 'State'
      }"
      [showInfo]="true"
      [showEdit]="true"
      [showDelete]="true"
      (info)="onInfo('scooters', $event.id)"
      (edit)="onEditScooter($event)"
      (delete)="deleteScooter($event.id)">
    </app-data-table>

    <app-minimal-paginator
      [currentPage]="currentScooterPage"
      [totalPages]="scooterTotalPages"
      (previous)="previousScooterPage()"
      (next)="nextScooterPage()">
    </app-minimal-paginator>
  </mat-tab>
</mat-tab-group>
