<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">event</mat-icon>
      <span class="tab-label">Revenue by days</span>
    </ng-template>

<div class="chart-container">
  <div class="form-container">
    <div>
      <label class="field-label">Select month</label>
      <mat-form-field appearance="outline" class="full-width">
        <mat-select [(ngModel)]="selectedMonth" (selectionChange)="loadDailyRevenue()">
          <mat-option *ngFor="let m of months" [value]="m.value">
            {{ m.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <canvas baseChart
          [data]="dailyRevenueData"
          [options]="dailyRevenueOptions"
          chartType="line">
  </canvas>
</div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">build</mat-icon>
      <span class="tab-label">Malfunctions by vehicle</span>
    </ng-template>

    <div class="chart-container">
      <canvas baseChart
              [data]="malfunctionsData"
              chartType="bar">
      </canvas>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">payments</mat-icon>
      <span class="tab-label">Revenue by vehicle type</span>
    </ng-template>

    <div class="chart-container">
      <canvas baseChart
              [data]="revenueByVehicleTypeData"
              chartType="pie">
      </canvas>
    </div>
  </mat-tab>
</mat-tab-group>
