<div class="toolbar-card">
  <mat-form-field appearance="outline" class="search-field small">
    <mat-icon matPrefix>search</mat-icon>
    <input 
      matInput 
      (keyup)="applyFilter($event, activeTab)" 
      placeholder="Search..."
    />
  </mat-form-field>

<div class="actions" *ngIf="activeTab === 'employees'">
  <button mat-raised-button color="primary" (click)="addEmployee()">
    <mat-icon>add</mat-icon>
    Add employee
  </button>
</div>
</div>

<mat-tab-group [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">people</mat-icon>
      <span class="tab-text">Clients</span>
    </ng-template>

    <app-data-table
      [dataSource]="clients"
      [displayedColumns]="['fullName','username','email','documentNumber','phone']"
      [columnLabels]="{
        fullName: 'Full Name',
        username: 'Username',
        email: 'Email',
        documentNumber: 'ID Number',
        phone: 'Phone'
      }"
      [currentPage]="currentClientPage"
      [totalPages]="clientTotalPages"
      [showBlockUnblock]="true"
      [showInfo]="false"
      [showEdit]="false"
      [showDelete]="false"
      (blockUnblock)="blockUnblockClient($event)">
    </app-data-table>

    <app-minimal-paginator
      [currentPage]="currentClientPage"
      [totalPages]="clientTotalPages"
      (previous)="previousClientPage()"
      (next)="nextClientPage()">
    </app-minimal-paginator>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">work</mat-icon>
      <span class="tab-text">Employees</span>
    </ng-template>

    <app-data-table
      [dataSource]="employees"
      [displayedColumns]="['fullName','username','role']"
      [columnLabels]="{
        fullName: 'Full Name',
        username: 'Username',
        role: 'Role'
      }"
      [currentPage]="currentEmployeePage"
      [totalPages]="employeeTotalPages"
      (edit)="editEmployee($event)"
      (delete)="deleteEmployee($event.id)">
    </app-data-table>

    <app-minimal-paginator
      [currentPage]="currentEmployeePage"
      [totalPages]="employeeTotalPages"
      (previous)="previousEmployeePage()"
      (next)="nextEmployeePage()">
    </app-minimal-paginator>

    <div *ngIf="editingEmployee" class="edit-form">
      <h3>Edit Employee</h3>
      <form (ngSubmit)="updateEmployee()">
        <input matInput placeholder="Username" [(ngModel)]="editingEmployee.username" name="username" required>
        <input matInput placeholder="First Name" [(ngModel)]="editingEmployee.firstName" name="firstName" required>
        <input matInput placeholder="Last Name" [(ngModel)]="editingEmployee.lastName" name="lastName" required>
        <input matInput placeholder="Role" [(ngModel)]="editingEmployee.role" name="role" required>
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-button type="button" (click)="editingEmployee=null">Cancel</button>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
